*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-link{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #0d0d1a;
    overflow-x: hidden;
    padding-top: 30px;
}

.nav-link li a{
    padding: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    display: flex;
    text-align: justify;
}

.nav-link li a:hover{
    font-weight: 700;
    background-color: rgb(29, 29, 60);
    color: #fff;
}

.logo img{
    height: 100px;
    margin-bottom: 80px;
}

.logo{
    display: flex;
    justify-content: center;
}

.logo img:hover{
    transform: scale(1.2);
}

.nav-link li a i{
    padding-right: 10px;
}

/*CARD*/

section{
    flex-wrap: wrap;
}

section{
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
}

.card{
    flex-wrap: wrap;
    padding-left: 15%;
    position: relative;
    width: 300px;
    height:  220px;
    margin: 20px;
}

.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img{
    position: absolute;
    width: 300px;
    height: 200px;
    object-fit: contain;
}

.card .front h4{
    position: absolute;
    font-size: 22px;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background-color: rgb(0, 0, 0,.5);
    text-align: center;
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3ff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 5px 10px #000;
}

.card .back h4{
    color: #f3f3ff;
    font-size: 20px;
    padding: 17px;
}

.card .back .link{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a{
    color: #f3f3f3;
    font-size: 18px;
}

.card .back .link h4{
     font-size: 30px;
     margin-top: 20px;
}

.card .back p{
    letter-spacing: 1px;
}

.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

/*CRAD-EDITION*/
.card .front .img-3 img{
    position: absolute;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card .front .img-4 img{
    position: absolute;
    width: 95%;
    height: 100%;
    object-fit: contain;
}

.card .front .img-6 img{
    position: absolute;
    width: 100%;
    height: 215px;
    object-fit: contain;
}

.card .front .img-8 img{
    position: absolute;
    width: 90%;
    height: 260px;
    object-fit: contain;
}

@media (min-width: 1960px){
    section{
        margin-right: 15%;
    }
}

@media (max-width: 1101px){
    section{
       display: flex;
       justify-content: center;
    } 
}

@media (max-width: 1530px){
    section .card{
        width: 350px;
        height: 230px;
    }
}


/*REPORTES-HTML*/


.container-report{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.report{
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    position: relative;
    width: 400px;
    height: 280px;
}

.report:hover{
    transform: scale(1.2);
}

.report img{
    width: 200px;
    height: 200px;
}

.report a{
    padding-left: 15px;
    text-decoration: none;
}

.report a p{
    color: #0d0d1a;
    font-size: 20px;
}

.lin{
    margin-top: 15px;
    margin-bottom: 1px;
    border-top: solid 1px #0d0d1a25;
    margin-left: 1px;
    margin-right: 90px; 
}

.link{
    padding-top: 1px;
}

.link a{
    color: #0707a2;
    margin-left: 16px;
}

@media (min-width: 1546px){
    .container-report{
        margin-left: 9%;
    }
}

@media (max-width: 1540px){
    .container-report{
        margin-left: 14%;
    }

    .container-report .report{
        width: 340px;
        height: 230px;
    }
}

@media (max-width: 1235px){
    .container-report .report{
        margin-left: 4%;
        width: 300px;
        height: 200px;
    }
}

@media (max-width:1100px){
    .container-report{
        margin-left: 37%;
        flex-direction: column;
    }
}