*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-link{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #0d0d1a;
    overflow-x: hidden;
    padding-top: 30px;
}

.nav-link li a{
    padding: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    display: flex;
    text-align: justify;
}

.nav-link li a:hover{
    font-weight: 700;
    background-color: rgb(29, 29, 60);
    color: #fff;
}

.logo img{
    height: 100px;
    margin-bottom: 80px;
}

.logo{
    display: flex;
    justify-content: center;
}

.logo img:hover{
    transform: scale(1.2);
}

.nav-link li a i{
    padding-right: 10px;
}