*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.nav-link{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #0d0d1a;
    overflow-x: hidden;
    padding-top: 30px;
}

.nav-link li a{
    margin-left: -20px;
    padding: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    display: flex;
    text-align: justify;
}

.nav-link li a:hover{
    font-weight: 700;
    background-color: rgb(29, 29, 60);
    color: #fff;
}

.logo img{
    height: 100px;
    margin-bottom: 80px;
}

.logo{
    display: flex;
    justify-content: center;
}

.logo img:hover{
    transform: scale(1.2);
}

.nav-link li a i{
    padding-right: 10px;
}


.title{
    display: flex;
    margin-left: 15%;
    padding-top: 40px;
}

.title p{
    font-size: 45px;
    font-weight:300;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title p b p{
    color: brown;
}

.title a{
    text-decoration: none;
    color: #0e0e24;
}

.list-container{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.list-container table tr td a{
    text-decoration: none;
    color: #0e0e24;
}

.list-container table tr {
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-top: solid 1px #000;
    font-size: 25px;
    height: 70px;
}

table{
    text-align: left;
    border-collapse: collapse;
    width: 70%;
    margin-top: -45px;
}

td{
    padding: 20px;
}

tr:hover {
    background-color: rgba(208, 208, 210, 0.303);
}

table i{
    color: #0e0e24;
    padding: 12px;
}

/*IMPORTACION*/

.inport{
    padding-top: 30px;
    margin-left: 15%;
}


.modal-global{
    margin-left: 15%;
    display: flex;
    justify-content: initial;
}

.container-modal-file{
    padding-left: 10px;
}

.container .container-vistas {
    position: absolute;
 
}
table{
    margin-left: 20px;
}

.home-logo img{
    height: 45px;
    width: auto;
    margin-top: -100px;
    margin-left: 8px;
}

.xeroxWork {
    position: absolute;
    display: flex;
    margin-top: -30%;
    margin-left: 52%;
    height: 190px;
    justify-content: ri;
}

