*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-link{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #0d0d1a;
    overflow-x: hidden;
    padding-top: 30px;
}

.nav-link li a{
    padding: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    display: flex;
    text-align: justify;
}

.nav-link li a:hover{
    font-weight: 700;
    background-color: rgb(29, 29, 60);
    color: #fff;
}

.logo P{
    height: 100px;
    margin-bottom: 80px;
    
}

.logo{
    display: flex;
    justify-content: center;
}

.logo img:hover{
    transform: scale(1.2);
}

.nav-link li a i{
    padding-right: 10px; 
}

.public{
    margin-top: 3%;
    margin-left: 40%;
    position: fixed;
    width: 10%;
    height: 20%;
}

.public img{
    margin-left: 18%;
    width: 370px;
    height: auto;
}

@media (max-width: 1600px){
    .public{
        width:  45%;
        height: auto;
    }
}

@media (min-width: 1601px){
    .public{
        width: 50%;
        height: auto;
    }
}

@media (min-width: 500px){
    .public{
        margin-left: 43%;
    }
}

@media (min-width: 1400px){
    .public{
        margin-left: 37%;
        width: 30%;
    }
}

@media (min-width: 1900px){
    .public{
        margin-left: 25%;
        width: 58%;
        height: auto;
    }
}

@media (min-width: 2200px){
    .public{
        margin-left: 33%;
        width: 35%;
        height: auto;
    }
}

@media (max-height: 800px){
    .public{
        width: 30%;
        height: auto;
    }
}

@media (max-width: 1400px){
    .public{
        margin-left: 27%;
    }
}

.rama-img{
    display: flex;
    justify-content: end;
}

.rama-img img{
    margin-top: 12%;
    margin-right: 50px;
    width: 380px;
    height: auto;
}

@media(max-width: 1200px){
    .rama-img{
        padding-top: 5%;
    } 
}

.container-welcome{
    margin-left: 15%;
    margin-top: 25%;
    border: solid 1px #00000043;
    position: absolute;
    padding: 20px 80px;  
    cursor: pointer; 
    box-shadow: 8px 14px#b7b7bc2e; 
}

.container-welcome .welcome{
    margin-left: -80px;
}

.container-welcome:hover{
    box-shadow: none;
    transform: perspective(700px) rotateY(10deg);
}

.container-welcome a{
    font-size: 23px;
    text-decoration: none;
    color: #0d0d1a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-welcome a i{
    padding-right: 11px;
    font-size: 30px;
}

.container-welcome .info-empresa{
    padding-top: 18px;
    margin-left: 40px;
    line-height: 27px;
}

.container-welcome .info-empresa small{
    font-size: 15px;
}

.container-welcome h6{
    font-size: 20px;
}

.container-welcome i{
    font-size: 30px;
}

.container-welcome .clientes small{
    font-size: 15px;
}

.container-II{
    display: flex;
    justify-content: center;
}

.container-xrc{
    margin-top: -27%;
    margin-left: 280px;
    margin-right: 500px;
    font-size: 19px;
    line-height: 1.8;
}

.container-xrc title p{
    font-size: 40px;
}

.container-panel{
    position: absolute;
    margin-top: 50px;
    margin-left: 15%;
}

.container-panel img{
    width: 350px;
}

.container-panel .linear{
    margin-top: 10px;
    border: solid 1px #0d0d1a26;
}

.container-panel .card{
    background-color: #7a7a808d;
}

.container-panel p{
    font-size: 16px;
    padding: 20px; 
}

.sub-conatiner-panel{
    flex-wrap: wrap;
    display: flex;   
}

.container-panel p{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 3100px){
    .container-xrc{
        margin-top: -23%;
    }
}


@media(max-width: 2200px) {
    .container-xrc{
        margin-top: -26%;
    }
}

@media (max-width: 1550px) {
    .rama-img img{
        width: 350px;
    }    
}

@media (max-width: 1800px) {
    .rama-img img{
        width: 300px;
    }
}

@media (min-width: 1580px) {
    .rama-img img{
        width: 315px;
    }
}

@media (min-width: 1700px) {
    .rama-img img{
        width: 370px;
    }
}

@media (max-width: 1500px) {
    .container-panel{
        margin-left: 20%;
    }
}

@media (max-width: 1600px) {
    .container-xrc{
        margin-right: 320px;
    }
}

.logX img{
    position: absolute;
    width: 300px;
    margin-left: 13%;
    margin-top: 30px;
}






