*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-image: url(https://images.unsplash.com/photo-1478432780021-b8d273730d8c?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
}   

.container-log p{
    color: #000;
    margin-top: 20px;
    font-size: 28px;
    padding-bottom: 40px;
}

.container-log{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    background:#f3f3f3f3;   
    margin-left: 6%;
    margin-right: 50%;
    padding-top: 100px;
    padding-bottom: 7% ;
    border-radius: 5px;
}
/*x
.container-inter{
    display: block;
    margin-left: 25px;
}
*/

.container-log label{
    color: #000;
}

.container-log input{
    padding: 18px;
    padding-right: 220px;
    margin-bottom: 20px;
    border-radius: 6px;    
    border: none;
}

.container-log button{
    padding: 15px;
    border-radius: 7px;
    border: none;
    background: rgb(9, 220, 9);
    cursor: pointer;
}

.container-log button:hover{
    background: rgba(12, 199, 12, 0.804);
}

@media (min-width: 1300px) {
    .container-log {
        width: 50%;
        background: #000;
    }
}