*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-image: url(https://images.unsplash.com/photo-1478432780021-b8d273730d8c?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
}   

.container-log h4{
    color: #fff;
}

.container-log{
    margin-top: 5%;
    background: brown;
    display: flex;
    justify-content: center;
    padding-left: 5%;
}